<div class="container">
	<ul class='nav nav-tabs'>
	  <li ui-sref-active='active'>
	    <a ui-sref='home'>Home</a>
	  </li>
	    <li ui-sref-active='active' ng-if='user.id'>
	      <a ui-sref='settings'>Settings</a>
	    </li>
	    <li ng-if='user.id'>
			<button ng-if="user.group.name" ng-click='logout()' class='btn btn-warning'>Logout {{ user.username }} ({{ user.group.name }})</button>
			<button ng-if="!user.group.name" ng-click='logout()' class='btn btn-warning'>Logout {{ user.username }}</button>
	    </li>
	  <li ui-sref-active='active' ng-if='!user.id'>
	    <a ui-sref='login'>Login</a>
	  </li>
	</ul>
</div>